.buttonWrapper{
    display: flex;
    justify-content: center;

    button{
        cursor: pointer;
        border-style: none;
        // border-radius: 2rem;
        margin-right: 1rem;
        background: #222222;
        color: white;
        padding: 1rem 2rem;
        &:hover{
            background-color: #333333;
        }
    }
}